// CocoaPods: wire all 3 configs so Pods flags are available
#include? "../../Pods/Target Support Files/Pods-Runner/Pods-Runner.debug.xcconfig"
#include? "../../Pods/Target Support Files/Pods-Runner/Pods-Runner.release.xcconfig"
#include? "../../Pods/Target Support Files/Pods-Runner/Pods-Runner.profile.xcconfig"

// CI: force unsigned build. We will sign explicitly after build.
CODE_SIGNING_ALLOWED = NO
CODE_SIGNING_REQUIRED = NO
CODE_SIGN_IDENTITY = -
PROVISIONING_PROFILE_SPECIFIER =
PROVISIONING_PROFILE =

// App metadata
PRODUCT_NAME = rule7_app
PRODUCT_BUNDLE_IDENTIFIER = com.ryahn.rule7app
